@import "http://webfonts.ru/import/anahit.css";
@import "http://webfonts.ru/import/america.css";
@import "http://webfonts.ru/import/bloccus.css";
@import "http://webfonts.ru/import/constantine.css";
@import "http://webfonts.ru/import/corki.css";
@import "http://webfonts.ru/import/certege.css";
@import "http://webfonts.ru/import/angleciadisplay.css";

body
{
    background: url(http://bgfons.com/upload/paper_texture327.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main
{
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    column-rule: 1px solid #000;
    -webkit-column-rule: 1px solid #000;
    -moz-column-rule: 1px solid #000;
    text-align: justify;
    font-size: 1.5em;
    font-family: 'Bloccus', 'Garamond', serif;
}
h1
{
    margin: 0;
    text-align: center;
    font-size: 5em;
    font-family: 'Amerika Pro', 'Garamond', serif;
    letter-spacing: 10px;
}

header
{
    text-align: center;
}

h2
{
    text-align: center;
    font-size: 2.3em;
    font-family: 'Arian AMU Serif';
    letter-spacing: 0.2px;
}

img
{
    width: 85%;
    padding: 0 7.5%;
}

.header
{
    width: 50%;
}

p
{
    padding: 0 20px;
    text-indent: 35px;
    font-family: 'Anglecia Pro Dsp', 'Garamond', serif;
}

nav
{
    display:inline;
}

input[value="night"]:checked ~ main
{
    background: url(night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

input[value="night"]:checked ~ main p::first-letter
{
    color: red;
}

input[value="less"]:checked ~ main p
{
    font-size: 0.7em;
}

input[value="more"]:checked ~ main p
{
    font-size: 1.3em;
}

input[value="middle"]:checked ~ main p
{
    font-size: 1em;
}

input[value="serif"]:checked ~ main p
{
    font-family: 'Anglecia Pro Dsp', 'Garamond', serif;
}

input[value="sans-serif"]:checked ~ main p
{
    font-family: 'Helvetica', sans-serif;
}

input
{
    text-align: left;
}

.tools
{
    text-align: left;
    width: auto;
}

p::first-letter
{
    font-size: 2em;
    font-weight: bold;
    font-family: 'American TextC', 'Garamond', serif;
}

h3
{
    font-family: 'America XIX', 'Garamond', serif;
    padding: 0 20px;
    padding-top: 15%;
    text-transform: uppercase;
}

.time
{
    font-size: 2em;
    text-transform: uppercase;
}

.no-wrap
{
    white-space: nowrap;
}

.text-1
{
    font-family: 'Constantine', 'Garamond', serif;
}

.text-2
{
    font-family: 'Corki', 'Garamond', serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.text-3
{
    font-weight: bold;
    font-family: 'FoglihtenNo06', 'Garamond', serif;
}

footer
{
    padding: 40px 0;
}

q
{
    font-weight: bolder;
}

.author
{
    font-family: 'Garamond', serif;
}

.description
{
    font-family: 'Certege', 'Garamond', serif;
    color: gray;
}

blockquote::after
{
    content: url(close.png);
}

blockquote::before
{
    content: url(open.png);
}

blockquote
{
    letter-spacing: -2px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding-left: 5%;
    font-family: 'AMG Anahit', 'Garamond', serif;
    /*font-weight: bold;*/
}
